

<!DOCTYPE html>
<html lang="en">
<style>
  body{
    background: url(../../media/result_bg.jpg);
    background-size: cover;
    background-color: black; 
color: cyan;
opacity: 0.85;
  }
    

  figure {
    display: inline-block;
    /* border: 1px dotted gray; */
    margin: 20px; /* adjust as needed */
}
figure img {
    vertical-align: top;
}
figure figcaption {
    border: 1px dotted blue;
    text-align: center;
}
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Output</title>
</head>
<body>
    <div style = "position: relative;
    min-height: 100vh;
    ">
        <div style="padding: 1rem;">
            <h1 style="text-align:center;">Brownian Motion Graphs</h1>
            <div style="padding: 1rem;display:flex;justify-content: space-between">
            <figure><img src="../../media/paths.png" /> <figcaption>Paths generated for Simple Brownian Motion</figcaption></figure>
            <figure><img src="../../media/geometric_paths.png" /> <figcaption>Paths generated for Geometric Brownian Motion</figcaption></figure>
            </div>
        </div>
        <table style="width:100%">
            <tr>
              <th>Theoretical Mean</th>
              <th>Experimental Mean</th>
              <th>Theoretical Variance</th>
              <th>Experimental Variance</th>
            </tr>
            <tr>
              <th>{{mean_t}}</th>
              <th>{{mean_c}}</th>
              <th>{{var_t}}</th>
              <th>{{var_c}}</th>
            </tr>
    </div>
</body>


</html>